{% extends 'base.html.twig' %}
{% block title %}Product File{% endblock %}

{% block body %}
    
    <div class="cat-container">
        <div class="cat-form-wrapper">
            <h2 class="section-title">Product Info</h2>
            <p class="texto-imagen"><b>Name: </b>{{ image.title }}</p>
            <img src="/images/index/gallery/{{ image.file }}" alt="Sample Product" class="product-image">
            
            <p class="texto-imagen"><b>Likes: </b><span id="likes-counter">{{ image.numLikes }}</span></p>
            
            <p class="texto-imagen"><b>Views: </b>{{ image.numViews }}</p>
            <div class="compra">
                <p class="texto-imagen"><b>Price: </b>{{ image.price }}$</p>
                <button class="form-submit">Add to Cart</button>
                {% set isLiked = false %}
                {% if app.user %}
                    {# Recorremos los likes de la imagen para ver si el usuario actual está ahí #}
                    {% for like in image.likes %}
                        {% if like.user == app.user %}
                            {% set isLiked = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                <button class="form-submit like" 
                        data-id="{{ image.id }}"
                        style="{{ isLiked ? 'background-color: red;' : '' }}">
                    {{ isLiked ? 'Unlike' : 'Like' }}
                </button>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ asset('likeAsc.js') }}"></script>
{% endblock %}